@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('index.css');
@import url('catalog.css');

body {
	font-family: "lato";
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

